.product{
    background-color: rgb(243, 243, 243);
    border: 1px solid grey;
    border-radius: 3px;
    min-width: 250px;
    margin: 23px;
    flex-basis: 21%;
    height: 40vh;
    min-height: 285px;
    text-align: center;
}

.img-box{
    height: 70%;
    width: 100%;
    display: flex;
}

.img-box img{
    width: 100%;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}

.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 800;
    color: rgb(100, 5, 5);
    margin: 8px;
}

.price{
    color: rgb(201, 23, 23);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 900;
    margin: 8px;
}

.add-to-cart{
    background-color: white;
    margin: 17px auto 0 auto;
    border: 1px solid black;
    border-radius: 1px;
    width: 45%;
    font-size: 16px;
    height: 20px;
    padding: 0 0;
}

.add-to-cart p{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(201, 23, 23);
}

.add-to-cart p:hover{
    cursor: pointer ;
    background-color: aliceblue;
}

.update-cart{
    margin: 17px auto 0 auto;
    border-radius: 1px;
    width: 45%;
    font-size: 16px;
    height: 20px;
    padding: 0 0;
    display: flex;
}

.update-cart div{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(201, 23, 23);
}
.update-cart div:nth-of-type(odd){
    vertical-align:middle;
    background-color: white;
    flex-grow: 1;
    border: 1px solid black;
}

.update-cart div:nth-of-type(odd):hover{
    flex-grow: 1;
    border: 1px solid black;
    background-color: aliceblue;
    cursor: pointer;
}

.update-cart div:nth-of-type(even){
    flex-grow: 1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
}